<div class="filters">
  <div class="search">
    <input type="text" placeholder="Search" />
  </div>
  <div class="rol">
    <select>
      <option value="all">Todos</option>
      <option value="admin">Choferes</option>
      <option value="user">Cargadores</option>
      <option value="user">Auxiliares</option>
    </select>
  </div>
  <div class="month">
    <select>
      <option value="all">Enero</option>
      <option value="admin">Febrero</option>
      <option value="user">Marzo</option>
      <option value="user">Abril</option>
      <option value="user">Mayo</option>
      <option value="user">Junio</option>
      <option value="user">Julio</option>
      <option value="user">Agosto</option>
      <option value="user">Septiembre</option>
      <option value="user">Octubre</option>
      <option value="user">Noviembre</option>
      <option value="user">Diciembre</option>
    </select>
  </div>
  <div class="new">
    <button (click)="openModal()">Nuevo Empleado</button>
  </div>
</div>
