.top-menu {
  background-color: #3f3f3f;
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  h3 {
    color: #fff;
    font-size: 1rem;
    margin: 0px;
    padding: 0px 20px;
  }
}
