.switch {
  display: flex;
  width: 50%;
  margin: 0 auto;
  button {
    border-radius: 0;
    font-size: 1rem;
    font-weight: 600;
    // padding: 8px;
    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
