table {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

.actions {
  text-align: center;
}
.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    padding: 5px;
    font-size: 1rem;
  }
}
